---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import EmpyState from '../components/EmpyState.astro'
import { Modal } from 'accessible-astro-components'
---

<DefaultLayout title="PaySlips">
  <section>
    <h1>PaySlips</h1><br>
    <p class="size-20">You can download your payslips from here.</p>
      <p>Payslip January.pdf</p>
      <p>Payslip February.pdf</p>
      <p>Payslip March.pdf</p>
      <p>Payslip April.pdf</p>
      <p>Payslip May.pdf</p>
    </div>
  </section>
</DefaultLayout>
